@import "../../global.scss";

.main {
  padding: 8rem 4rem;  
  
  .about {
    display: flex;
    flex-direction: column;
    gap: 36px;
    @include responsive (mobile) {
      gap: 7.375rem;
    }
    
    .about-component {
      display: flex;
      justify-content: space-between;
      gap: 12px;

      @include responsive (mobile) {
        display: unset;        
        text-align: center;
      }
      
      .wrapper-text-about {
        flex: .5;
        height: inherit;
        display: flex;
        flex-direction: column;
        gap: 12px;
  
        h4 {
          color: $main_blue_color;
          font-weight: 500;

          @include responsive (mobile) {
            font-weight: 700;
            font-size: 1.4rem;
          }
        }
        h1 {
          position: relative;
          font-size: 2.5rem;
          font-weight: 800;

          @include responsive (mobile) {
            font-size: 30px;
          }
  
          &::after {
            content: "";
            height: 5px;
            width: 150px;
            position: absolute;
            bottom: -10px;
            background-color: gray;
            left: 0;

            @include responsive (mobile) {
              bottom: -15px;
              right: 0;
              margin: 0 auto;
            }

          }
        }
        p {
          font-size: 16px;
          font-weight: 600;
          flex: 1;
          max-width: 70%;
          margin-top: 10px;
          color: $secondary_grey_color;
          line-height: 24px;
          
          @include responsive (mobile) {
            max-width: 100%;
            font-size: 1.2rem;
          }

        }
      }
      .wrapper-image-about {
        flex: .5;
        display: flex;
        justify-content: center;
  
        .thumbnail {
          width: 250px;
          height: 200px;
          
          @include responsive (mobile) {
            display: none;
          }

        }
      }

      &.about-component:nth-child(2) {
        .wrapper-text-about {
          order: 2;
          h4 {
            color: $main_purple_color;
          }
        }
        .wrapper-image-about {
          order: 1;
          justify-content: center;
          align-items: center;  
        }
      }

      &.about-component:last-child {
        .wrapper-text-about {
          h4 { color: $main_green_color; }
          h1 { font-size: 2rem; }
        }
        .wrapper-image-about {
          align-items: center;
        }
      }
    }
  }

  .contact {
    margin-top: 198px;
    
    .contact-component {
      display: flex;
      justify-content: space-between;
      gap: 12px;

      @include responsive (mobile) {
        display: unset;        
        text-align: center;
      }

      .wrapper-text-contact {
        flex: .5;
        height: inherit;
        display: flex;
        flex-direction: column;
        gap: 12px;
        
        h4 {
          color: $main_blue_color;
          font-weight: 500;
          
          @include responsive (mobile) {
            font-weight: 700;
            font-size: 1.5rem;
          }
        }
        h1 {
          position: relative;
          font-size: 2.5rem;

          @include responsive (mobile) {
            font-size: 2rem;
          }
  
          &::after {
            content: "";
            height: 5px;
            width: 150px;
            position: absolute;
            bottom: -10px;
            background-color: gray;
            left: 0;
            
            @include responsive (mobile) {
              right: 0;
              margin: 0 auto;
            }
          }
        }
        p {
          font-size: 18px;
          font-weight: 500;
          flex: 1;
          max-width: 90%;
          margin-top: 10px;
          color: $secondary_grey_color;
          text-align: left;
          line-height: 24px;  

          @include responsive (mobile) {
            max-width: 100%;
            text-align: center;
          }
        }
      }
      .wrapper-image-contact {
        flex: .5;
        display: flex;
        justify-content: center;

        @include responsive (mobile) {
          display: none;
        }
      }
    }
  }

}