@import "../../global.scss";

.header {
  height: calc(100vh - 86px);
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: $height_navbar;

  @include responsive (mobile) {
    justify-content: center;
    align-items: center;
  }

  .header-text-wrapper {
    flex: .5;
    padding-left: 4rem;

    @include responsive (mobile) {
      flex: 1;
      text-align: center;
      line-height: 36px;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
    
    h4 {
      color: #3784FB;
      font-size: 14px;

      @include responsive (mobile) {
        font-size: 28px;
        font-weight: 500;
        width: 65%;
        margin: 0 auto;
      }
    }
    h2 {
      color: white;
      font-size: 56px;
      line-height: 56px;
      font-weight: 700;

      @include responsive (mobile) {
        font-size: 56px;
        line-height: 56px;
        font-weight: 700;
      }
    }
    h5 {
      color: #9CA3AF;
      font-size: 14px;

      @include responsive (mobile) {
        font-size: 24px;
      }
    }
  }
  
  .header-hero-wrapper {
    padding-right: 4rem;

    @include responsive (mobile) {
      display: none;
    }
  }
  
  .learnmore-wrapper {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    align-items: center;
    text-decoration: none;
    color: #fff;

    @include responsive (mobile) {
      bottom: 5%;
    }

    img {
      width: 14px;
      height: 8px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}