$main_black_color: #111827;
$secondary_black_color: #1C2431;
$main_grey_color: #D9D9D9;
$secondary_grey_color: #6B7280;
$thidrd_grey_color: #9CA3AF;
$gray_50: #F9FAFB;
$gray_300: #D1D5DB;
$main_purple_color: #B523FA;
$main_green_color: #5FD788;
$main_blue_color: #3784FB;
$height_navbar: 86px;

@mixin responsive( $device ) {
  @if $device == mobile {
    @media only screen and (max-width: 599px) {
      @content
    }
  }
}